<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title of the document</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>

	<!-- <div ng-app="" ng-init="firstName='John'">
		<p>Name: <input type="text" ng-model="firstName"></p>
		<p>You wrote: {{ firstName }}</p>
	</div> -->

	<!-- <div ng-app="" ng-init="quantity=1; price=5">
		Quantity: <input type="number" ng-model="quantity">
		Costs:    <input type="number" ng-model="price">

		Total in dollar: {{ quantity * price }}
	</div> -->

	<!-- <div ng-app="" ng-init="names=['Jani','Hege','Kai']">
		<ul>

		</ul>
	</div> -->

	<!-- <div ng-app="" ng-init="names=[
		{name:'Jani', country:'Norway'},
		{name:'Hege', country:'Sweden'},
		{name:'kai', country:'Denmark'}
	]">
		<ul>
			<li ng-repeat="x in names">
				{{ x.name + ', ' + x.country }}
		 	</li>
		</ul>
	</div> -->

	<!-- <div ng-app="myApp">
		<w3-test-directive></w3-test-directive>

		<script>
			var app = angular.module("myApp", []);
			app.directive("w3TestDirective", function() {
				return {
					restrict: "C",  // for using class as directive ONLY!
					template: "<h1>Made by a directive!</h1>"
				};
			});
		</script>

		<div w3-test-directive></div>

		<div class="w3-test-directive"></div>
	</div> -->

	<!-- invoke directives by attributes only -->
	<div ng-app="myApp">
	<script>
		var app = angular.module("myApp", []);
		app.directive("w3TestDirective", function() {
			return {
					restrict: "A",
					template: "<h1>Hello world</h1>"
			};
		});
	</script>

	<div w3-test-directive></div>

	</div>

</body>
</html>

