<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title of the document</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
	<!-- <div ng-app="myApp" ng-controller="myCtrl">
		<h1 ng-mouseover="count = count + 1">Mouse over me!</h1>

		<h2>{{ count }}</h2>

	</div> -->
	<!-- <script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.count = 0;
		});
	</script> -->

	<!-- <div ng-app="myApp" ng-controller="myCtrl">
		<button ng-click="count = count + 1">Click me!</button>

		<p>{{ count }}</p>
	</div> -->

	<!-- <script>
		var app = angular.module("myApp", []);
		app.controller('myCtrl', function($scope) {
			$scope.count = 0;
		});
	</script> -->

	<!-- <div ng-app="myApp" ng-controller="myCtrl">
		<button ng-click="myFunction()">Click me!</button>
		<p>{{ count }}</p>
	</div> -->
	<!-- <script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function ($scope) {
			$scope.count = 0;
			$scope.myFunction = function() {
				$scope.count++;
			}
		});
	</script> -->
	<!-- <div ng-app="myApp" ng-controller="myCtrl">
		<button ng-click="myFunc()">Click Me!</button>

		<div ng-show="showMe">
			<h1>Menu:</h1>
			<div>Pizza</div>
			<div>Pasta</div>
			<div>Pesce</div>
		</div>
	</div> -->

	<!-- <script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.showMe = false;
			$scope.myFunc = function() {
				$scope.showMe = !$scope.showMe;
			}
		});
	</script> -->

	<div ng-app="myApp" ng-controller="myCtrl">
		<h1 ng-mouseover="myFunc($event)">Mouse Over Me!</h1>

		<p>Coordinates: {{x + ', ' + y}}</p>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.myFunc = function(myE) {
				$scope.x = myE.clientX;
				$scope.y = myE.clientY;
			}
		});
	</script>
</body>
</html>
