<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title of the document</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<select ng-model="selectedCar" ng-options="x.model for x in cars">
		</select>
		<h1>You selected: {{selectedCar.model}}</h1>
		<p>Its color is: {{selectedCar.color}}</p>

		<select ng-model="nc" ng-options="x for (x,y) in newCars">
		</select>
		<h2>You selected: {{nc}}</h2>

		<select ng-model="nc2" ng-options="x for (x,y) in newCars2">
		</select>
		<h2>You selected: {{nc2}}</h2>
	</div>

	<script>
		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope) {
			$scope.cars = [
				{model : "Ford Mustang", color : "red"},
				{model : "Fiat 500", color : "white"},
				{model : "Volvo XC90", color : "black"}
			];
			$scope.newCars = {
				car01 : "Ford",
				car02 : "Fiat",
				car03 : "Volvo"
			};
			$scope.newCars2 = {
				car01 : {brand: "Ford", model: "Mustang", color: "red"},
				car02 : {brand: "Fiat", model: "500", color: "white"},
				car03 : {brand: "Volvo", model: "XC90", color: "black"}
			};
		});
	</script>

</body>
</html>
